.achieve-edge, .achieve-alecado, .achieve-hsbc{
    position: relative;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    box-shadow: 6px 6px 10px rgba(57, 57, 57, 0.28);
    position: relative;
    margin: 10vh 8vh;
    background-color: #1d1d1d;
    border-radius: 10px;
    min-width: 30%;
    max-width: 40%;
    color: white;
    /* z-index: 999; */
}
.achieve-edge::before{
    content: "" ;
    position: absolute;
    background: url("../images/edge_n_roots_logo.jpeg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    /* background-color: rgb(68, 195, 238); */
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
.achieve-alecado::before{
    content: "" ;
    position: absolute;
    background: url("../images/alecado.jpeg") no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(241, 243, 243);
    z-index: 1000;
    transition: 0.5s ease-in-out;
}

.achieve-hsbc::before{
    content: "" ;
    position: absolute;
    background: url("../images/HSBC.png") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(241, 243, 243);
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
.achieve-alecado:hover::before,
.achieve-edge:hover::before, .achieve-hsbc:hover::before{
    height: 0%;
}
.body-achieve{
    /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.achieve-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.achieve-edge ul li, .achieve-alecado ul li, .achieve-hsbc ul li{
    margin: 15px;
}
.achieve-edge p, .achieve-alecado p, .achieve-hsbc p{
    text-align: initial;
}
.achieve-edge h3, .achieve-alecado h3, .achieve-hsbc h3{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}
.date{
    margin: 15px 25px 10px;
    color: red;
}
.certificate{
    font-size: 20px;
    text-decoration: none;
    padding-left: 25px ;
    font-weight: bold;
}
.certificate:hover{
    text-decoration: underline;
}
.cert_down{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}
.download{
    border-radius: 20px;
    padding: 4px 5px;
    align-items: center;
    display: flex;
}
.download:hover{
    background-color: rgb(234, 235, 234);
}


@media screen and (max-width: 768px){
    .achieve-edge, .achieve-alecado, .achieve-hsbc{
        min-width: 100%;
        max-width: 90%;
    }
    /* .achieve-edge h3, .achieve-alecado h3, .achieve-hsbc h3{
        font-size: 20px;
    }
    .achieve-edge ul li, .achieve-alecado ul li, .achieve-hsbc ul li{
        margin: 10px;
    }
    .achieve-edge p, .achieve-alecado p, .achieve-hsbc p{
        font-size: 15px;
    }
    .date{
        margin: 10px 15px 5px;
    }
    .certificate{
        font-size: 15px;
    }
    .cert_down{
        gap: 5px;
    }
    .download{
        padding: 2px 3px;
    } */
    
}