.achieve{
    width: auto;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 10px rgb(228 200 200 / 28%);
    position: relative;
    margin: 10vh 8vh;
    background-color: white;
    border-radius: 10px;
}
.body-achieve{
    /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}
.achieve ul li{
    margin: 25px;
}
.achieve p{
    text-align: initial;
}
.achieve h3{
    color: purple;
    margin-bottom: 10px;
    font-size: 30px;
}
.date{
    margin: 35px 25px 10px;
    color: red;
}
.certificate{
    font-size: 20px;
    text-decoration: none;
    padding-left: 25px ;
    font-weight: bold;
}
.certificate:hover{
    text-decoration: underline;
}
.cert_down{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}
.download{
    border-radius: 20px;
    padding: 4px 5px;
    align-items: center;
    display: flex;
}
.download:hover{
    background-color: rgb(198, 199, 198);
}
.body-achieve{
    padding: 20px;
}