@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    /* border: 2px solid purple; */
    margin: 0;
}
.header{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 9vh;
    margin: auto;
    flex-wrap: wrap;
    z-index: 999;
    left: 0;
    right: 0;
    background-color: #afafaf;
    width: 100%;
    z-index: 999;
}
.head-part1{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
}
.bars{
    visibility: hidden;
    display: none;
}
.a{
    margin: 10px 30px;
    position: relative;
    font-size: 22px;
    padding: 10px 25px 0;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.6s;
    box-sizing: border-box;
}
.a:hover{
    /* border-bottom: solid thin #9f9f9f; */
    padding-bottom: 0;
    text-decoration: none;
    cursor: pointer;
}
.a::before , .a::after{
    content: "";
    width: 0;
    position: absolute;
    height: 3px;
    background: #020202;
    transition: 0.5s;
}
.a::after{
    left: 0;
    bottom: -10px;
}
.a::before{
    right: 0;
    top: 0px;
}
.active ,.a:hover::after , .a:hover::before{
    width: 100%;
}
