@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10vh;
    /* height: 100vh; */
    margin: 5vh auto;
    width: 80%;
}
.project{
    text-align: center;
    margin: 9rem auto 0;
    font-size: 1.5em;
}
.project3{
    text-align: center;
    margin: 0rem auto 0;
    font-size: 1.5em;
}
.project4{
    margin-top: 4rem;
}
.card{
    width: 340px;
    position: relative;
    height: 45vh;
    transition: 1.8s all ease-in-out;
    transform-style: preserve-3d;
    margin: 4vh 2vh;
}
.card .front{
    width: 100%;
    height: 100%;
}
.card .front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.card .face{
    position: absolute;
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: perspective(500px) rotateY(0deg);
    border-radius: 15px;
    /* transition-duration: 1.s; */
}

.card:hover .face{
    position: absolute;
    cursor: pointer;
}
.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card .face.back{
    background-color: green;
    visibility: hidden;
    opacity: 0;
    transform: perspective(500px) rotateY(180deg);
}
.card .face.back h3{
    /* font-size: 2rem; */
    text-align: center;
    font-weight: bold;
}
.card:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
    visibility: visible;
    opacity: 1;
}
.card:hover .face.back h3{
    transform: perspective(500px) translateZ(90px);
    text-align: center;
}

.bottom-text{
    width: 100%;
    padding: 15px 30px;
    font-size: 13px;
}
.linkss a i{
    color: white;
    font-size: 21px;
    margin: 0 10px;
}
.linkss a{
    margin: 0 5px;
}
.link{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}