@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 4rem;
    width: 75%;
    flex-wrap: wrap;
    margin: 3rem auto;
}
.content p{
    font-size: 15px;
}
.used{
    margin: 20px 0;
}
.container .card{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    background-color: #d2f6ff;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.container .card .face{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
}
.container .card .face.face1 h2{
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}
.container .card .face.face2{
    background-color: black;
    transition: 0.5s;
}

.container .card .face.face2 h1{
    font-size: 10rem;
    color: black;
    transition: 0.5s;
}
.container .card:hover .face.face2{
    height: 20%;
}
.container .card:hover .face.face2 h1{
    font-size: 3rem;
}
.container .card .content{
    position: relative;
    bottom: 40px;
    padding: 0px;
}
.project{
    margin: 8rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
}
.project h1 , .project3 h1{
    text-shadow: 0px 10px 10px #8d8d8d;
}
.iccon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
}
.iccon a{
    border: solid thin black;
    width: 14%;
    text-align: center;
    border-radius: 50%;
    padding: 4px 5px;
    color: black;
}
.iccon a:hover i{
    /* filter: brightness(0); */
    color: white;
}
.iccon a:hover{
    background-color: black;
}
.container .card:nth-child(1) .face.face2{
    background: linear-gradient(45deg , #3503ad , #fb7eb8);
}
.container .card:nth-child(2) .face.face2{
    background: linear-gradient(45deg , #2f5cff , #dbf4ff);
}
.container .card:nth-child(3) .face.face2{
    background: linear-gradient(45deg , #acb6e5 , #86fde8);
}
.container .card:nth-child(4) .face.face2{
    background: linear-gradient(45deg , #9796f0 , #fbc7d4);
}
.container .card:nth-child(5) .face.face2{
    background: linear-gradient(45deg , #a7bfe8 , #6190e8);
}
.container .card:nth-child(6) .face.face2{
    background: linear-gradient(45deg , #fbee97 , #adedd5);
}
.container .card:nth-child(7) .face.face2{
    background: linear-gradient(45deg , #a0bef8 , #b5f0f0);
}