@media screen and (max-width:600px){
    body{
        display: flex;
        width: 221%;
    }
    .body1{
        width: unset;
        flex-direction: column-reverse;
    }
    .body-left{
        width: unset;
        font-size: 35px;
    }
    .icons{
        width: 75%;
    }
    .body-right{
        width: unset;
    }
    .body-right img{
        width: 60%;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10rem;
        margin-top: 5rem;
    }
    .contacss{
        width: inherit;
        /* margin: 3rem; */
    }
    .facon{
        width: 100%;
        height: 100%;
    }
    .footer-icon a{
        width: 35%;
        font-size: 25px;
    }
    .follow-icon{
        margin-right: unset;
        width: 50%;
    }
    .follow-icon{
        /* width: inherit; */
        margin-top: 2rem;
    }
    .achieve p{
        font-size: 25px;
    }
    .skills{
        /* display: unset; */
        /* margin: 0 18rem; */
    }
    .skill-bars{
        margin: 8vh 0vh 15vh 0;
    }
    .container{
        gap: 4rem 0;
        width: inherit;
    }
    .contact{
        padding: unset;
        margin: 14rem 0;
        /* width: 200%; */
    }
    .follow-icon{
        margin-top: unset;
    }
    .contacss{
        width: 30%;
    }
    .facon{
        /* display: unset; */
        height: 100%;
    }
    .footer-icon h2{
        visibility: hidden;
        opacity: 0;
    }
    .footer-icon{
        margin-right: unset;
    }
    .footer{
        margin-top: 9rem;
        padding: 8rem 0px;
    }
    .header{
        padding: unset;
        height: 12vh;
    }
    .head-elments{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project5{  
        width: 33%;
    }
    input[type=text], input[type=email], textarea {
        padding: 12px;
        border-radius: 5px;
    }
    .form button {
        width: 30%;
    }
    .wrapper{
        margin: 39rem 17rem
    }
    .body-left{
        padding: 70px 0 0 50px;
    }
    .college , .metric , .inter{
        font-size: 25px;
    }
    .container .card{
        width: 400px;
    }
    .achieve h3{
        font-size: 35px;
    }
    .date{
        margin: 20px 20px;
    }
    .achieve ul li{
        margin: 20px;
    }
    .content p{
        font-size: 18px;
    }
}

@media screen and (max-width:1004px) and (min-width:650px) {
    .body1{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        width: 80%;
        margin: 25vh auto;
    }
    .body-left{
        width: unset;
    }
    .body-right{
        width: unset;
    }
    .body-right img{
        width: 50%;
    }
    .skills{
        display: unset;
        margin: auto;
    }
    .project{
        font-size: 1.2rem;
    }
    .container{
        width: unset;
    }
    .contact{
        padding: unset;
    }
    .footer-icon{
        margin-right: unset;
    }
    .facon a{
        margin: 0 5px;
    }
    .footer-icon a{
        width: 25%;
    }
    .follow-icon a{
        width: 40%;
    }
    .follow-icon{
        width: 35%;
    }
    .project5{
        width: 30%;
    }
}

@media screen and (max-width:1400px) and (min-width:1024px) {
    .body1{
        width: unset;
    }
    .body-left{
        width: 60%;
    }
    .skills{
        display: unset;
    }
    .form{
        width: unset;
        margin: unset;
    }
    .footer-icon a{
        width: 19%;
    }
    .follow-icon{
        width: 35%;
    }
}