@media screen and (max-width:600px){
    .head-part1{
        width: unset;
        margin: 0;
    }
    .header .bars{
        width: unset;
    }
    /* body{
        display: flex;
        width: 221%;
    } */
    .body1{
        width: unset;
        flex-direction: column-reverse;
    }
    .body-left{
        width: unset;
        font-size: 35px;
    }
    /* .head-elments .a{
        margin: 10px 10px;
        position: relative;
        font-size: 21px;
    } */
    .icons{
        width: 75%;
    }
    .body-right{
        width: unset;
    }
    .body-right img{
        width: 60%;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10rem;
        margin-top: 5rem;
        padding: 4rem 12rem;
    }
    .contacss{
        width: inherit;
        /* margin: 3rem; */
    }
    .facon{
        width: 100%;
        height: 100%;
    }
    .footer-icon a{
        width: 35%;
        font-size: 25px;
    }
    .follow-icon{
        margin-right: unset;
        width: 50%;
    }
    .follow-icon{
        /* width: inherit; */
        margin-top: 2rem;
    }
    .achieve p{
        font-size: 25px;
    }
    .container{
        gap: 4rem 0;
        width: inherit;
    }
    .contact{
        padding: unset;
        margin: 14rem 0;
        /* width: 200%; */
    }
    .follow-icon{
        margin-top: unset;
    }
    .contacss{
        width: 30%;
    }
    .facon{
        /* display: unset; */
        height: 100%;
    }
    .footer-icon h2{
        visibility: hidden;
        opacity: 0;
    }
    .footer-icon{
        margin-right: unset;
    }
    .footer{
        margin-top: 9rem;
        padding: 8rem 0px;
    }
    
    .head-elments{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .project5{  
        width: 33%;
    }
    input[type=text], input[type=email], textarea {
        padding: 12px;
        border-radius: 5px;
        font-size: 30px;
    }
    .form button {
        width: 30%;
    }
    .wrapper{
        margin: 39rem 17rem
    }
    .body-left{
        padding: 70px 0 0 50px;
    }
    .college , .metric , .inter{
        font-size: 25px;
    }
    .container .card{
        width: 400px;
    }
    .form{
        width:80%;
        margin-bottom:3rem;
    }
    .achieve h3{
        font-size: 35px;
    }
    .date{
        margin: 20px 20px;
    }
    .achieve ul li{
        margin: 20px;
    }
    .content p{
        font-size: 18px;
    }
    .skills{
        width: 800px;
    }
    .skill-bars{
        margin: 8vh 4vh 7vh 4vh;
        width: 100%;
    }
}

@media screen and (max-width:1004px) and (min-width:650px) {
    .body1{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        width: 80%;
        margin: 25vh auto;
    }
    .body-left{
        width: unset;
    }
    .body-right{
        width: unset;
    }
    .body-right img{
        width: 50%;
    }
    .skills{
        display: unset;
        margin: auto;
        width: 600px;
    }
    .project{
        font-size: 1.2rem;
    }
    .container{
        width: unset;
    }
    .contact{
        padding: unset;
    }
    .footer-icon{
        margin-right: unset;
    }
    .facon a{
        margin: 0 5px;
    }
    .footer-icon a{
        width: 25%;
    }
    .follow-icon a{
        width: 40%;
    }
    .follow-icon{
        width: 35%;
    }
    .project5{
        width: 30%;
    }
    .skill-bars{
        margin: 8vh 4vh 7vh 4vh;
        width: 100%;
    }
}

@media screen and (max-width:1400px) and (min-width:1024px) {
    .body1{
        width: unset;
    }
    .body-left{
        width: 60%;
    }
    /* .skills{
        display: unset;
    } */
    .form{
        width: unset;
        margin: unset;
    }
    .footer-icon a{
        width: 19%;
    }
    .follow-icon{
        width: 35%;
    }
}

@media screen and (max-width:800px){
    .header{
        padding: unset;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .visible{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
