@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
html,
body {
  /* display: grid; */
  height: auto;
  place-items: center;
  /* background: #dfe2fd7a; */
  /* background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png"); */
  /* background-color: #387bc2; */
  /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
  scroll-behavior: smooth;
  background-color: #161616;
  color: #989b99;
  font-family: "Dancing Script";
}

.skills {
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  min-width: 95%;
  justify-content: space-evenly;
  height: auto;
}
.skill-bars {
  padding: 25px 30px;
  width: 46%;
  background-color: "#ffffff29";
  border: 1px solid #454141;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 20px rgb(42 41 41 / 28%);
  border-radius: 10px;
  background-color: #2f3130;
}
.skill-bars .bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 20px 0;
}
.skill-bars h3 {
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}
.bar i {
  font-size: 4rem;
}
