@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  /* display: grid; */
  height: auto;
  place-items: center;
  background: #dfe2fd7a;
  /* background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png"); */
  /* background-color: #387bc2; */
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/shattered.png"); */
  scroll-behavior: smooth;
}

.skills {
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 95%;
  justify-content: space-evenly;
  height: auto;
}
.skill-bars {
  padding: 25px 30px;
  width: 46%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 20px 0;
}
.skill-bars h3 {
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}
.bar i {
  font-size: 4rem;
}
