*{
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
.wrapper{
  margin: 19rem auto ;
}
.solidcross{
  display: none;
  visibility: hidden;
}
@media screen and (max-width:800px){
  .header .bars{
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    margin: 15px 0;
  }
  .solidcross{
    display: unset;
    visibility: visible;
  }
  .bars:hover{
    cursor: pointer;
  }
  .hamburger{
    display: inline-block;
    height: 2.5px;
    width: 30px;
    background-color: black;
    margin: 3px 0;
  }
  .unvisible{
    height: 0px;
    overflow: hidden;
  }
  .middle{
    width: 80%;
    /* background: black; */
    height: auto;
    align-items: baseline;
    /* padding: 15px; */
  }
  .head-elments .a{
    font-size: 20px;
  }
  
  }


/* <BallTriangle
        height={100}
        width={100}
        radius={5}
        color="#6665ee"
        ariaLabel="ball-triangle-loading"
        wrapperClassName="style"
        wrapperStyle={{display:"flex" , alignItems:"center" , justifyContent:"center" , width:"100vw" , height:"100vh" }}
        visible={true}
      /> */