*{
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
.wrapper{
  margin: 19rem auto ;
}

/* <BallTriangle
        height={100}
        width={100}
        radius={5}
        color="#6665ee"
        ariaLabel="ball-triangle-loading"
        wrapperClassName="style"
        wrapperStyle={{display:"flex" , alignItems:"center" , justifyContent:"center" , width:"100vw" , height:"100vh" }}
        visible={true}
      /> */