.main {
  min-height: 100vh;
  background-color: #161616;
  color: #989b99;
  font-family: "Dancing Script";
}
/* .morning-background {
  color: white;
  background: url("./images/morning2.jpg") no-repeat center center/cover; 
}

.afternoon-background {
  color: white;
  background: url("./images/bg.jpg") no-repeat center center/cover; 
}

.night-background {
  color: white;
  background: url("./images/night3.jpg") no-repeat center center/cover;
} */

.morning-background .typewriter {
  color: rgb(70 179 0);
}
.afternoon-background .typewriter {
  color: #67e4c9;
}
.night-background .typewriter {
  color: #00ffc7;
}
