.main {
  min-height: 100vh;
  background: url("./images/bg.jpg") no-repeat center center/cover;
  color: white;
}
/* .morning-background {
  color: white;
  background: url("./images/morning2.jpg") no-repeat center center/cover; 
}

.afternoon-background {
  color: white;
  background: url("./images/bg.jpg") no-repeat center center/cover; 
}

.night-background {
  color: white;
  background: url("./images/night3.jpg") no-repeat center center/cover;
} */

.morning-background .typewriter {
  color: rgb(70 179 0);
}
.afternoon-background .typewriter {
  color: #ff6e00;
}
.night-background .typewriter {
  color: #0002ff;
}
